/* [data-attr="headwrapper"]{
    display : inline-grid;
    grid-template-columns: auto auto;                
    position: absolute;
    top:0px; 
    left:0px;
    width:100%;

    
}   
.shortname {    
    float: left;
    padding: 10px;
    font-size: 3ch;
      
}
.secondwrapper{
    display: flex;
}

.col-2 {
  display: inline-block;
  width: 100%;
  padding: 20px;
}
*/
.themeimage {
  cursor: pointer;
}
.stickyheader {
  left: 0px;
  top: 0px;
}
