[data-attr="headwrapper"]{
    display : inline-grid;
    grid-template-columns: auto auto;                
    position: absolute;
    top:0px; 
    left:0px;
    width:100%;
    /* column-gap: 20px; */
    /* background-color:black;  
    color :white; */
    
}   
.shortname {    
    float: left;
    padding: 10px;
    font-size: 3ch;
      
}
.secondwrapper{
    display: flex;
}

.col-2 {
  display: inline-block;
  width: 100%;
  padding: 20px;
}

.themeimage {
  display: inline-block;
  padding: 20px;
cursor: pointer;
}

